<h2>Movie List</h2>

<!-- <p *ngIf="movies.length>0">{{movies[0].title}}</p> -->
<p *ngIf="movies.length==0">Movies array is empty</p>
<div *ngIf="movies.length>0">

    <button (click)="createMovie()">Add Movie</button>

    <table border="1">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Id</th>
                <th>Title</th>
                <th>Rating</th>
                <th>Director</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies;let i = index">
                <td>{{i+1}}</td>
                <td>{{movie.id}}</td>
                <td>{{movie.title}}</td>
                <td>{{movie.rating}}</td>
                <td>{{movie.director}}</td>
                <td><button (click)="deleteMovie(movie.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>

</div>

    